<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div>
    <select #dropdown>
      <option value="people">People</option>
      <option value="starships">Ships</option>
      <option value="films">Films</option>
    </select>
    <input #searchField ="onEnter(dropdown.value, searchField.value)">
    
    <ul>
      <li *ngFor="let person of people.results">
          {{ person | json }}
      </li>
    </ul>
</div>
<router-outlet></router-outlet>


<!-- Name: {{ person.name }} <br />
Height: {{ person.height }} <br />
Mass: {{ person.mass }} <br />
Hair color:{{ person.hair_color }} <br />
Skin color: {{ person.skin_color }} <br />
Eye color: {{ person.eye_color }} <br />
Birth: {{ person.birth_year }} <br />
Gender: {{ person.gender }} <br />
Homeworld: {{ person.homeworld }} <br />
Films {{ person.films }} <br />
Species: {{ person.species }} <br />
Vehicles: {{ person.vehicles }} <br />
Starships: {{ person.starships }} <br /> <br /> -->

